
<head>
    <link rel="stylesheet" href="/css/feed.css">
</head>

<body>
    <div id="main-container">

        <div class="project-container">
            <input type="text" name="project" size = "100px" placeholder="What are you working on ?">
            <div class="icon"><i class="fa-solid fa-circle-plus"></i> &nbsp;<span>Project</span> <div class="drop">
                <ul>
                    <li>Project name 1</li>
                    <li>Project name 2</li>
                    <li>Project name 3</li>
                    <li>Project name 4</li>
                    <li>Project name 5</li>
                </ul>
            </div></div>
            <hr>
            <div class="icon1 tag-event"><i class="fa-solid fa-tag"></i>
                <div class="tag-drop">
                    <ul>
                        <li> <input type="checkbox"> Tag name 1</li>
                        <li> <input type="checkbox"> Tag name 2</li>
                        <li> <input type="checkbox"> Tag name 3</li>
                        <li> <input type="checkbox"> Tag name 4</li>
                        <li> <input type="checkbox"> Tag name 5</li>
                    </ul>
                </div></div>
            <hr>
            <div class="txt1"><span id="timer">00:00:00</span></div>
            <div><button id="btn">Start</button></div>
            <div class="icon1"><i class="fa-solid fa-xmark"></i></div>
        </div>
        <div class="calculation">
            <span>Today</span>
            <span>Week Total : 00:00:00</span>
        </div>
        <div class="day-area-container">
            <div class="day-area">
                <span>Today</span>
                <span>Total: 00:00:00</span>
            </div>
        </div>
        




    </div>
    <script src="/js/feed.js"></script>
</body>