<link rel="stylesheet" href="/css/Forgot.css">

<body>
    <div id="container">
        <h3>Forgot Your Passwaord ?</h3>
        <p>Please confirm your email address below <br> and we will send you a verification code.</p>
        <form action="/verify" method="post">
            <div class="inputBox">
                <input type="email" name="email" required>
                <span></span>
                <label>Email</label>
            </div>
            <input type="submit" value="Continue">
            <span></span>
            &nbsp;
            <p>Already have account ? <a href="/" style="text-decoration: none; color: black;"><b>Log in</b></a> </p>

        </form>
    </div>

</body>