<link rel="stylesheet" href="/css/header.css">
<head>
    <script src="https://kit.fontawesome.com/da94f5acad.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <div id="navBar">
            <div class="inDiv1">
                <div><i class="fa-solid fa-bars"></i></div>
                <div><img src="\img\clock.png" alt=""></div>
            </div>

            <div class="inDiv2">
                <div> <%= user.name %> &nbsp; Workspace<i class="fa-solid fa-angle-down"></i></div>
                <div><button id="upgrade">UPGRADE</button></div>
                <div><i class="fa-solid fa-bell"></i></div>
                <div><img src="\img\user.png" alt=""> </div>
            </div>
        </div>
    </nav>

    
</body>