<link rel="stylesheet" href="/css/header.css">
<body>
    <nav>
        <div id="navBar">
            <div class="inDiv1">
                <div><i class="fa-solid fa-bars"></i></div>
                <div><img src="\img\clock.png" alt=""></div>
            </div>

            <div class="inDiv2">
                
            </div>
        </div>
    </nav>

    <script src="https://kit.fontawesome.com/da94f5acad.js" crossorigin="anonymous"></script>
</body>
