<section>
    <nav>
        <div id="navbar">
            <ul>
                <li>
                    Home
                </li>
                <li>
                    About
                </li>
                <li>
                    Contacts
                </li>
            </ul>
        </div>
    </nav>
</section>