<link rel="stylesheet" href="/css/sidemenu.css">
<head>
    <script src="https://kit.fontawesome.com/da94f5acad.js" crossorigin="anonymous"></script>
</head>
<body>
        <div id="sidemenu">
            <div id="menudiv">
                <div><i class="fa-regular fa-clock"></i><span class="text" >00:00:00</span> </div>
                <div><i class="fa-solid fa-briefcase"></i><span class="text">MASTER</span></div>
                <div><i class="fa-regular fa-file"></i>&nbsp;<span class="text">PROJECTS</span></div>
                <div><i class="fa-sharp fa-solid fa-tag"></i><span class="text">TAGS</span></div>
                <!-- <div><i class="fa-solid fa-right-from-bracket"></i><a href="/logOut" style="text-decoration: none; color: black;"><span class="text">LOGOUT</span></a>
                </div> -->
            </div>
            
        </div> 
          
</body>