<link rel="stylesheet" href="/css/todo_page.css">

<body>
    <%-include("header.ejs")-%>
    <%- include("sidemenu.ejs")-%>
    
        

</body>


<button><a href="/logOut" style="text-decoration: none;">LogOut</a></button>