<link rel="stylesheet" href="/css/user_sign_up.css">

<body>
    <div id="container">
        <h1>SignUp</h1>
        <form action="/create" method="post">
            <div class="inputBox">
                <input type="text" name="name" required>
                <span></span>
                <label>Name</label>
            </div>
            <div class="inputBox">
                <input type="email" name="email" required>
                <span></span>
                <label>Email</label>
            </div>
            <div class="inputBox">
                <input type="tel" name="phone" required >
                <span></span>
                <label>phone</label>
            </div>
            <div class="inputBox">
                <input type="password" name="password" required>
                <span></span>
                <label>Password</label>
            </div>
            <div class="inputBox">
                <input type="password" name="confirm_password" required>
                <span></span>
                <label>Confirm Password</label>
            </div>
            <input type="submit" value="Create Account">
            
            
            
            
        </form>
    </div>
   

</body>