#navBar{
    display: flex;
    height: 64px;
    justify-content: space-between ;
    box-sizing: border-box;
    background: whitesmoke;    
}
.inDiv1{
    display: flex;
    margin-top: 22px;
    margin-left: 30px;
}
.inDiv1 img{
    height: 18px;
    margin-left: 25px;
}
.inDiv2{
    display: flex;
    margin-top: 18px;
    margin-right: 30px;
    
}
.inDiv2 img{
    height: 40px;
    margin-top: -8px;
}
.inDiv2 div{
    margin-right: 40px;
}
.inDiv2 i{
    margin-top: 5px;
}
#upgrade{
    padding: 0 5px 0  5px;
    border-radius: 4px;
    border: 0.5px solid skyblue;
    color: skyblue;
    margin-top: 2px;
    

}



